/* center app */
.App {
  text-align: center;
}

/* app background */
.App-header {
  min-height: 100vh;
  background: linear-gradient(
      0deg,
      rgba(81, 111, 133, 0.88),
      rgba(59, 65, 78, 0.98)
    ),
    url(turker.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
